*{
	margin: 0px;
	padding: 0px;
	transition: 0.5s;

}

html{
	height: 100%;
	width: 100%;




}

h1{
	position: absolute;
	font-size: 50px;
	left: 60px;
	top: 60px;
}

body{
	height: 100%;
	width: 100%;

	position: relative;
}

#container:hover {
    color: #FF00FF;

}


#spanhovering {
    cursor: pointer;
}

#divtoshow {
    position: absolute;
    opacity: 1;
	border: solid 2px black;
	width: 200px;
	height: 100px;
	background-color: rgba(0,0,0,0.2);
	transition: 0.2s;
}

/*MAP*/
#rsr{

	position: relative;
	left: 7%;
	top: 9%;

	height: 50%;
	width: 50%;
	overflow: visible;
	float: left;
	border: solid 1px transparent;
}

#map_right_side{

	height: 70%;
	width: 50%;
	bottom: 40%;
	right: 5%;
	position: relative;
	float: right;

}


#Whats_everybody_title{
	transition: 0.5s;
	top: 30%;
	font-size: 2.6vw;
	position: relative;

}

#info_div{
	text-align: center;


	height: 100%;
}

#hover_over{
	transition: 0.5s;
	top: 30%;
	position: relative;
	font-weight: 300;
	margin-top: 2%;
}

#province_title{
	font-size: 2.5vw;
	position: relative;
	top: 8%;

}

#province_box{
	opacity: 0;


	position: relative;
	top: 9%;
}

#symbols{
	width: 50%;
	margin-top: 5%;
	margin-bottom: 3%;
}

.value_titles{
	margin-right: 4.5%;
	font-size: 1.3vw;
	display: inline;
	right: 2.3%;
	position: relative;
	transition: 0.5s;
}

#srm_title{
	right:0%;
}

#acidity_title{
	left: 8%;
}


#ibu_title{
	left: 3%;
}